


#container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game{
    
}


#canvas{
    /*
    height: 400px;
    width: 400px;
    */
    margin: auto;
/*    width:90%;*/
    /*    background: blue;*/
    border: 1px grey solid;
}





/*Rule creator*/

#rule-creator ul{
    list-style: none;
}

#rule-creator{
    
}

#rule-creator > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    padding:10px;

}

#rule-creator .rule-color{
    height: 100px;
    width: 100px;
    border: 1px black solid;
}

#rule-creator > ul > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid black;
    padding: 5px;
}

.changes{
    padding: 0px;
}

.changes > li {
    display: flex;
    align-items: center;
    padding: 5px;
}

.changes .changeto-color{
    height: 50px;
    width: 50px;
    border: 1px black solid;
}

.changes .changeto-label{
    padding-right: 5px;
}

.conditions{
    display: flex;
}

.conditions .conditions-color{
    height: 25px;
    width: 25px;
    border: 1px black solid;
    margin-bottom: 4px;
    
}

.conditions > li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.conditions > li > input{
    text-align: center;
    border: none;
    padding: 3px;
    border-bottom: solid black 1px;
/*
    margin-right: 15px;
    margin-left: 3px;
*/
}

#rule-creator > ul > li:last-child{
    padding: 0px;
}

#add-element{
    cursor: pointer;
    height: 100%;
    width: 100%;
/*    text-align: center;*/
/*    justify-content: center;*/
    font-size: 10em;
    padding -4px;
    background: #FFF;
    border:none;
    
}

#add-element:hover{
    background: #DDD;
    height: 100%;
    width: 100%;
}


.selector_text{
    margin:0;
    margin-left: 5px;
    letter-spacing: .1em;
}

.selector > input{
    margin:0;
}