body, html{
    height:100%;
    width:100%;
}


#container{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas{
/*
    height: 400px;
    width: 400px;
*/
    margin: auto;
/*    background: blue;*/
    border: 1px grey solid;
}