body, html{
    height:100%;
    width:100%;
}


body{
    display:flex;
    justify-content: center;
}

#canvas{
/*
    height: 400px;
    width: 400px;
*/
    margin: auto;
/*    background: blue;*/
    border: 1px grey solid;
}